
<header>
  <div></div>
  <div class="second-color"></div>
</header>

<main>
  <div class="container">
    <div class="text-container">
        <h1>Meet <span>LOREI</span>, the <br>shy plush</h1>
        <p>Are you a shy person? We have a little friend to keep you company.</p>
    </div>
  
    <div class="sub-text">
      <img src="../assets/Vector_linha.png" alt="">
      <p>Hello little friend, I stay hidden in my 
        <br>cape because I'm ashamed!</p>
  </div>
  <div class="lorei-img">
    <img src="../assets/vector.png" alt="">
  </div>
</div>
</main>

 <footer>
  <div class="text-footer">
    <p>createbyVictoriaTassi</p>
  </div>
 </footer>
  



